{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "web/main.css" %}">
    <title>Приложение пользователей</title>
</head>
<body>
<h1>Пользователь с ником -
    {% if request.user.is_authenticated %}
        {{ request.user.username }}
        <br>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        Гость
        <br>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
</h1>
</body>
</html>